<link rel="import" href="bower_components/polymer/polymer.html">

<!-- Ahora definimos los módulos con dom-module -->

<dom-module id="hola-platzi-polymer">  
    <template>
        <p>
            <!-- {{ DATA BINDING: Conecta la vista con la lógica para que cambie el contenido dinámicamente}} -->
            Hola, <strong>{{ who }}</strong>
        </p>
    </template>
</dom-module>

<script>
    /* 
        Llamamos a Polymer, creamos el objeto Polymer 
        y le decimos como es el objeto que estamos creando 
        Ya no hace falta hacer el script anterior donde creabamos el ShadowDOM y lo asignabamos
        Ni tampoco crear las callbacks del ciclo de vida. 
    */
    Polymer({
        is: 'hola-platzi-polymer',
        properties: {
            who: {
                type: String,
                value: 'Platzi'
            }
        }
    });
</script>